!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
.vscode/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/.vitepress/.temp/
*.pdf
packages/
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
.direnv/
.pre-commit-config.yaml
